{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Hero -->
    <section id="hero" class="container">
        <header>
            <h2>A chatbot created
            <br />
              for the <a href="/chatbot"> optimal user experience</a></h2>
        </header>
        <p>Transforming every interaction into a poetic masterpiece.
            <a href="/chatbot"></a> Whether you're asking about the weather or seeking life advice,
        <br />
            <a href="/chatbot">expect a response that's both informative and beautifully crafted. </a>.</p>
        <ul class="actions">
            <li><a href="/chatbot" class="button">Get this party started</a></li>
        </ul>
    </section>
    <br />
    <br />
    <br />
    <br />
    <footer style="color: white;">
    <footer style="color: white;">
        2024 All rights reserved DramaLlama.inc
    </footer>
{% endblock %}