{% extends 'base.html' %} {% block title%}Login{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Confirm password" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
    <br />
    <br />
    <br />
    <a class="btn btn-primary" href="/sign-up" role="button">Create an Account</a>
    <br />
    <br />
    <br />
<footer style="color: white;">
    <footer style="color: white;">
        2024 All rights reserved DramaLlama.inc
    </footer>
<br />

    <style >
        .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
}


</style>

{% endblock %}